name: Pip

on: push

jobs:
  build:
    name: Build with Pip
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.11"]
    defaults:
      run:
        shell: "msys2 {0}"

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - uses: msys2/setup-msys2@v2
      with:
        msystem: UCRT64
        update: true
        install: mingw-w64-ucrt-x86_64-gcc mingw-w64-ucrt-x86_64-cmake mingw-w64-ucrt-x86_64-ninja git

    - run: |
        export PATH="$(ls -d /c/hostedtoolcache/windows/Python/${{ matrix.python-version }}.*)/x64:$PATH"
        python -m pip install scikit_build_core
        python -m pip install git+https://github.com/lkeegan/nanobind.git@fix_visibility_gcc_windows
        CMAKE_ARGS='-DCMAKE_CXX_FLAGS="-static -static-libgcc -static-libstdc++"' python -m pip install --verbose --no-build-isolation .
        python -m pip show nanobind_example -f
        python -c "import nanobind_example"
